# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/app/chowlocalvendor.keystore
android/app/chowlocalvendor
android/app/src/main/assets/fonts/Montserrat-Black.ttf
android/app/src/main/assets/fonts/Montserrat-BlackItalic.ttf
android/app/src/main/assets/fonts/Montserrat-Bold.ttf
android/app/src/main/assets/fonts/Montserrat-BoldItalic.ttf
android/app/src/main/assets/fonts/Montserrat-ExtraBold.ttf
android/app/src/main/assets/fonts/Montserrat-ExtraBoldItalic.ttf
android/app/src/main/assets/fonts/Montserrat-ExtraLight.ttf
android/app/src/main/assets/fonts/Montserrat-ExtraLightItalic.ttf
android/app/src/main/assets/fonts/Montserrat-Italic.ttf
android/app/src/main/assets/fonts/Montserrat-Light.ttf
android/app/src/main/assets/fonts/Montserrat-LightItalic.ttf
android/app/src/main/assets/fonts/Montserrat-Medium.ttf
android/app/src/main/assets/fonts/Montserrat-MediumItalic.ttf
android/app/src/main/assets/fonts/Montserrat-Regular.ttf
android/app/src/main/assets/fonts/Montserrat-SemiBold.ttf
android/app/src/main/assets/fonts/Montserrat-SemiBoldItalic.ttf
android/app/src/main/assets/fonts/Montserrat-Thin.ttf
android/app/src/main/assets/fonts/Montserrat-ThinItalic.ttf
